/*---Contact---*/

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.contact {
    animation: fadeIn 1s;
    width: 80%;
    margin: auto;
    text-align: center;
}

.contact-col {
    margin-bottom: 30px;
}

.contact-col div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-col div .fa {
    font-size: 28px;
    color: #32a871;
    margin: 10px;
    margin-right: 30px;
}

.contact-col h5 {
    padding: 0;
    color: #fff;
    font-weight: 300;
}

.contact h1 {
    font-size: 36px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #32a871;
    text-align: center;
}

.send_button {
  background-color: #32a871;
  cursor: pointer;
  padding: 15px 60px;
  display: inline-block;
  border-radius: 10px;
  margin: 20px 0px;
  letter-spacing: 1px;
  font-weight: 700;
  transition: 0.3s;
}

.send_button:hover {
    background-color: #3cc882;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.2);
}

.contact-col input, .contact-col textarea {
    background-color: #191919;
    color: #fff;
    width: 100%;
    padding: 5px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #fff;
    resize: none;
    border-radius: 7.5px;
}