/*---Resume---*/

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.resume {
    animation: fadeIn 1s;
    color:#32a871;
    margin:auto;
    text-align:center;
}

.resume h1 {
    font-size:36px;
    padding-top:25px;
    padding-bottom:25px;
}

.resume p {
    background-color: #32a871;
    color: black;
    cursor: pointer;
    padding: 10px 0;
    width: 25vh;
    border-radius: 10px;
    margin: auto;
    letter-spacing: 1px;
    font-weight: 700;
    transition: 0.3s;
}

.resume p:hover {
    background-color: #3cc882;
    box-shadow: 0 0 10px 10px rgba(0,0,0,0.2);
}

.resume a {
    text-decoration:none;
}

.resume img {
    height: 100vh;
    margin-bottom: 30px;
}