/*---Design---*/

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

h1 {
    animation: fadeIn 1s;
    font-size: 36px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #32a871;
    text-align: center;
}

h3 {
    animation: fadeIn 1s;
    font-size: 36px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    color: #32a871;
    border: 2.5px solid #32a871;
    border-radius: 10px;
    transition: 0.5s;
    background-color: black;
}

h3:hover {
    color: #43e097;
    border-color: #43e097;
    padding-left: 30px;
    padding-right: 30px;

}

.item_list {
    animation: fadeIn 1s;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    background-color: #232323;
    gap: 100px;
}

.item_list .row {
    display: flex;
    flex-direction: row;
    gap: 100px;
    width: 60vw;
    justify-content: center;
    margin: auto;
    align-items: center;
}

.item_list .col {
    justify-content: center;
    text-align: left;
    color: #fff;
    font-size: 20px;
    margin-bottom: 25px;
    line-height: 30px;
}

.item_list .col h2 {
    color: #32a871;
}

.item_list a {
    text-decoration: none;
    color: #32a871;
    text-align: left;
}

.item_list a:hover {
    color: #3cc882;
}

.item_list .col h2:hover {
    color: #3cc882;
}

.item_list a:visited {
    color: #32a871;
}

.item_list .col p {
    margin-top: 50px;
}

.item_list .col img {
    width: 300px;
    border-radius: 25px;
    transition: 0.5s;
}

.item_list .col img:hover {
    box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.5);
}